<h1>Editing catagory</h1>

<% form_for(@catagory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @catagory %> |
<%= link_to 'Back', catagories_path %>