
<div class="cart-title">Your Cart</div>
<table>
  <% #debugger %>
  <% cat_cart.each do |cart| %>
  <%= cart[0].name %>
  <%= render(:partial => "cart_item", :collection => cart[1]) %>
<% end %>
<%= javascript_include_tag(:defaults) %>
  <tr class="total-line">
    <td></td>
    <td colspan="2">Total</td>
    <td class="total-cell"> </td>
  </tr>
  
</table>
<%= button_to "Checkout", {:action => 'checkout'}, {:disabled => !@order.nil?}  %>
    <% form_remote_tag :url => { :action => 'empty_cart'}, :locals => { :cat_cart => @cat_cart } do %>
      <%= submit_tag "Empty Cart" %>
    <% end %>
