
<% if @cart.items.nil? %>

<% redirect_to_index("Your cart is empty") %>

<% else %>

<div class="depot-form">

  <%= error_messages_for 'order' %>

  <% form_for :order, :url => {:action => :save_order} do |form| %>
  <fieldset>
    <legend>Please enter your details</legend>

    <div>
     <%= form.label :name, 'Name:' %>
     <%= form.text_field :name, :size => 40 %>
    </div>

    <div>
     <%= form.label :address, 'Address:' %>
     <%= form.text_area :address, :rows => 3, :cols => 40 %>
    </div>

    <div>
     <%= form.label :email, 'E-Mail:' %>
     <%= form.text_area :email, :size => 40 %>
    </div>

    <div>
      <%= form.label :pay_type, 'Pay with:' %>
      <%=
          form.select :pay_type,
                      Order::PAYMENT_TYPES,
                      :promt => "Please select payment methood"
       %>
    </div>

    <%= submit_tag "Place Order", :action => "submit" %>
  </fieldset>
  <% end %>
 <% end %>
</div>