<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Pragmatic Programming Books Online</title>
    <%= stylesheet_link_tag "depot", :media => "all" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body id="store">
    <div id="banner">
      <%=image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <a><%= Time.now.to_s(:long) %></a>
        <div id="cart">
          <%#= render(:partial => "cart", :object => @cart) if @cart.total_items > 1 %>
          <%= render(:partial => "cart", :locals => {:cat_cart => @cat_cart}) if @cart.total_items > 1 %>
        </div>
        <a href="http://www....">Home</a><br />
        <a href="http://www....">Questions</a><br />
        <a href="http://www....">News</a><br />
        <a href="http://www....">Contact</a><br />
      </div>
      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
          <% end -%>
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>